<%- include("header") %> 

<div class="title-box" id="list-title-box">
    <h2 class="title" id="list-title"><%=listTitle%></h2>
    <hr class="line">
    <h3 class="date"><%= date %></h3>
</div>
<div class="box" id="list-box"> 

    <form action="/list" method="POST">
        <input class="list-item" type="text" name="newItem" placeholder="Enter New List Item" required autocomplete="off" autofocus>
        <button class="add-item" type="submit" name="addItem" value="addNewItem"> + </button>
    </form>

    <form action="/list" method="POST">       
        <button class="clear" type="submit" name="clearAll" value="clear"> Clear List </button>
        <button class="home" type="submit" name="goHome" value="home"> Home </button>       
    </form>

    <hr class="line">

    <%  for(let i=0; i<listItems.length; i++){  %>

        <% let list = listItems; %>
        
        <div class="item-box" id="box<%=listItems[i].iconId%>">

                <form action="/list" method="POST">
                    <button class="left-icon <%=listItems[i].complete%>"  name="tick" value="<%=listItems[i].iconId%>">✔</button>
                </form>
                <p class="item-name text-<%=listItems[i].complete%>" id="itemName"><%=listItems[i].itemName%></p>           
                <form class="delete" action="/list" method="POST">
                    <button class="right-icon" type="submit" name="delete" value="<%=listItems[i].iconId%>">✖</button>
                </form>
                           
        </div>
    
    <% } %> 
    
</div>


<%- include("footer") %> 