<%- include("header") %> 

<script>

    function getTick(id){
        var mark = document.getElementById(id);
        mark.classList.toggle("visible");

        var itemName =  document.getElementById("item"+id);
        itemName.classList.toggle("strike");
    }

</script>

<div class="title-box" id="list-title-box">
    <h1 class="title" id="list-title"><%=listTitle%></h1>
</div>
<div class="box" id="list-box"> 

    <form action="/list" method="POST">
        <input class="list-item" type="text" name="newItem" placeholder="Enter New List Item" required autocomplete="off" autofocus>
        <button class="add-item" type="submit" name="addItem" value="addNewItem"> + </button>
    </form>

    <form action="/list" method="POST">       
        <button class="clear" type="submit" name="clearAll" value="clear"> Clear List </button>
        <button class="home" type="submit" name="goHome" value="home"> Home </button>       
    </form>

    <hr class="line">

    <%  for(let i=0; i<listItems.length; i++){  %>

        <% let list = listItems; %>
        
        <div class="item-box" id="box<%=listItems[i].iconId%>">
            
                <button class="left-icon" id="<%=listItems[i].iconId%>" onclick="getTick(this.id)">✔</button>
                <p class="item-name" id="item<%=listItems[i].iconId%>"><%=listItems[i].itemName%></p>           
                <form class="delete" action="/list" method="POST">
                    <button class="right-icon" type="submit" name="delete" value="<%=listItems[i].iconId%>">✖</button>
                </form>
                           
        </div>
    
    <% } %> 
    
</div>


<%- include("footer") %> 