<%- include("header") %>

    <div class="title-box" id="notes-title-box">
        <h1 class="title" id="notes-title">
            <%= noteTitle %>
        </h1>
        <hr class="line">
        <h3 class="date">
            <%= date %>
        </h3>
    </div>

    <div class="box" id="notes-box">

        <form action="/notes" method="POST">
            <input class="heading" type="text" name="heading" placeholder="Enter Heading for this Note" required
                autocomplete="off" autofocus>
            <textarea class="note-item" name="newNote" placeholder="Enter New Note" required autofocus></textarea>
            <button class="add-item" type="submit" name="addItem" value="addNewItem"> + </button>
        </form>
        <form class="notesForm" action="/notes" method="POST">
            <button class="clear" type="submit" name="clearAll" value="clear"> Clear Notes </button>
            <button class="home" type="submit" name="goHome" value="home"> Home </button>
        </form>
        <hr class="line">
        <% for(let i=0; i<notesItems.length; i++){ %>
            <div class="note-container">
                <table>
                <tr>
                    <td>
                        <h2 class="note-heading">
                            <%= notesItems[i].heading %>
                        </h2>
                        <pre class="note-content"><%= notesItems[i].content %></pre>
                    </td>

                    <td>
                        <form action="/read" method="post">
                            <button class="readNote" type="submit" name="read"
                                value="<%=notesItems[i].noteId%>">Read</button>
                        </form>
                        <form action="/notes" method="post">
                            <button class="deleteNote" type="submit" name="delete" value="<%=notesItems[i].noteId%>">Delete</button>
                        </form>
                    </td>
                </tr>
                </table>


            </div>
            <!-- <hr class="line"> -->
            <% } %>

    </div>


    <%- include("footer") %>